/* tag option */
<option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %} id="{% for variant in product.variants %}{% if variant.title ==  value %}{% if variant.inventory_quantity < 1 %}{{ value }}Pre-Order{% else %}Available{% endif %}{% endif %}{% endfor %}">

/* add this code below class .product-single__title */
<span class="pre-order-teks"></span>
